# requirements.txt
flask
werkzeug
pdfplumber
python-docx
pandas
openpyxl
markdown
paddleocr
paddlepaddle
opencv-python
pillow
pymongo
dnspython
zhipuai
python-dotenv
sniffio
anyio
httpx
httpcore
pydantic
requests